[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
plotly = "*"
dash = "*"
flask-login = "*"
flask-sqlalchemy = "*"
dash-bootstrap-components = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.9"
